
/* ============Digital-SEGMENT=========== */
<svg width="0" height="0" viewBox="0 0 0 0">
	<defs>
		<g id="unit-h">
			<path d="M0 20 L20 40 L180 40 L200 20 L180 0 L20 0 Z"></path>
		</g>
		<g id="unit-v">
			<path d="M20 0 L0 20 L0 180 L20 200 L40 180 L40 20 Z"></path>
		</g>
	</defs>
</svg>

/* ========================== */
/* ==================HOUR-SVG===================== */
<svg id="hour-1" class="num-0" width="130" height="240" viewBox="0 0 260 480">
				<use xlink:href="#unit-h" class="segment a" x="30" y="0"></use>
				<use xlink:href="#unit-v" class="segment b" x="220" y="30"></use>
				<use xlink:href="#unit-v" class="segment c" x="220" y="250"></use>
				<use xlink:href="#unit-h" class="segment d" x="30" y="440"></use>
				<use xlink:href="#unit-v" class="segment e" x="0" y="250"></use>
				<use xlink:href="#unit-v" class="segment f" x="0" y="30"></use>
				<use xlink:href="#unit-h" class="segment g" x="30" y="220"></use>
			</svg>
			<svg id="hour-2" class="num-0" width="130" height="240" viewBox="0 0 260 480">
				<use xlink:href="#unit-h" class="segment a" x="30" y="0"></use>
				<use xlink:href="#unit-v" class="segment b" x="220" y="30"></use>
				<use xlink:href="#unit-v" class="segment c" x="220" y="250"></use>
				<use xlink:href="#unit-h" class="segment d" x="30" y="440"></use>
				<use xlink:href="#unit-v" class="segment e" x="0" y="250"></use>
				<use xlink:href="#unit-v" class="segment f" x="0" y="30"></use>
				<use xlink:href="#unit-h" class="segment g" x="30" y="220"></use>
			</svg>

/*=============================================*/

/*====================MINUTE-SVG==============*/
			<svg id="minute-1" class="num-0" width="130" height="240" viewBox="0 0 260 480">
				<use xlink:href="#unit-h" class="segment a" x="30" y="0"></use>
				<use xlink:href="#unit-v" class="segment b" x="220" y="30"></use>
				<use xlink:href="#unit-v" class="segment c" x="220" y="250"></use>
				<use xlink:href="#unit-h" class="segment d" x="30" y="440"></use>
				<use xlink:href="#unit-v" class="segment e" x="0" y="250"></use>
				<use xlink:href="#unit-v" class="segment f" x="0" y="30"></use>
				<use xlink:href="#unit-h" class="segment g" x="30" y="220"></use>
			</svg>
			<svg id="minute-2" class="num-0" width="130" height="240" viewBox="0 0 260 480">
				<use xlink:href="#unit-h" class="segment a" x="30" y="0"></use>
				<use xlink:href="#unit-v" class="segment b" x="220" y="30"></use>
				<use xlink:href="#unit-v" class="segment c" x="220" y="250"></use>
				<use xlink:href="#unit-h" class="segment d" x="30" y="440"></use>
				<use xlink:href="#unit-v" class="segment e" x="0" y="250"></use>
				<use xlink:href="#unit-v" class="segment f" x="0" y="30"></use>
				<use xlink:href="#unit-h" class="segment g" x="30" y="220"></use>
			</svg>
/*=============================================*/

/*====================SECOND-SVG==============*/
			<svg id="second-1" class="num-0" width="130" height="240" viewBox="0 0 260 480">
				<use xlink:href="#unit-h" class="segment a" x="30" y="0"></use>
				<use xlink:href="#unit-v" class="segment b" x="220" y="30"></use>
				<use xlink:href="#unit-v" class="segment c" x="220" y="250"></use>
				<use xlink:href="#unit-h" class="segment d" x="30" y="440"></use>
				<use xlink:href="#unit-v" class="segment e" x="0" y="250"></use>
				<use xlink:href="#unit-v" class="segment f" x="0" y="30"></use>
				<use xlink:href="#unit-h" class="segment g" x="30" y="220"></use>
			</svg>
			<svg id="second-2" class="num-0" width="130" height="240" viewBox="0 0 260 480">
				<use xlink:href="#unit-h" class="segment a" x="30" y="0"></use>
				<use xlink:href="#unit-v" class="segment b" x="220" y="30"></use>
				<use xlink:href="#unit-v" class="segment c" x="220" y="250"></use>
				<use xlink:href="#unit-h" class="segment d" x="30" y="440"></use>
				<use xlink:href="#unit-v" class="segment e" x="0" y="250"></use>
				<use xlink:href="#unit-v" class="segment f" x="0" y="30"></use>
				<use xlink:href="#unit-h" class="segment g" x="30" y="220"></use>
			</svg>
/* ================================================== */


/* ==================ALL GREEN CLOCK ACE==== */
svg.num-1 .b,
svg.num-1 .c,

svg.num-2 .a,
svg.num-2 .b,
svg.num-2 .d,
svg.num-2 .e,
svg.num-2 .g,

svg.num-3 .a,
svg.num-3 .b,
svg.num-3 .c,
svg.num-3 .d,
svg.num-3 .g,

svg.num-4 .b,
svg.num-4 .c,
svg.num-4 .f,
svg.num-4 .g,

svg.num-5 .a,
svg.num-5 .c,
svg.num-5 .d,
svg.num-5 .f,
svg.num-5 .g,

svg.num-6 .a,
svg.num-6 .c,
svg.num-6 .d,
svg.num-6 .e,
svg.num-6 .f,
svg.num-6 .g,

svg.num-7 .a,
svg.num-7 .b,
svg.num-7 .c,

svg.num-8 .a,
svg.num-8 .b,
svg.num-8 .c,
svg.num-8 .d,
svg.num-8 .e,
svg.num-8 .f,
svg.num-8 .g,

svg.num-9 .a,
svg.num-9 .b,
svg.num-9 .c,
svg.num-9 .d,
svg.num-9 .f,
svg.num-9 .g,

svg.num-0 .a,
svg.num-0 .b,
svg.num-0 .c,
svg.num-0 .d,
svg.num-0 .e,
svg.num-0 .f
{
	fill: #15ff00;
}
/* ==================================================================== */




/* ==================Last Two Red Numbers=============== */
#second-1.num-1 .b,
#second-1.num-1 .c,

#second-1.num-2 .a,
#second-1.num-2 .b,
#second-1.num-2 .d,
#second-1.num-2 .e,
#second-1.num-2 .g,

#second-1.num-3 .a,
#second-1.num-3 .b,
#second-1.num-3 .c,
#second-1.num-3 .d,
#second-1.num-3 .g,

#second-1.num-4 .b,
#second-1.num-4 .c,
#second-1.num-4 .f,
#second-1.num-4 .g,

#second-1.num-5 .a,
#second-1.num-5 .c,
#second-1.num-5 .d,
#second-1.num-5 .f,
#second-1.num-5 .g,

#second-1.num-6 .a,
#second-1.num-6 .c,
#second-1.num-6 .d,
#second-1.num-6 .e,
#second-1.num-6 .f,
#second-1.num-6 .g,

#second-1.num-7 .a,
#second-1.num-7 .b,
#second-1.num-7 .c,

#second-1.num-8 .a,
#second-1.num-8 .b,
#second-1.num-8 .c,
#second-1.num-8 .d,
#second-1.num-8 .e,
#second-1.num-8 .f,
#second-1.num-8 .g,

#second-1.num-9 .a,
#second-1.num-9 .b,
#second-1.num-9 .c,
#second-1.num-9 .d,
#second-1.num-9 .f,
#second-1.num-9 .g,

#second-1.num-0 .a,
#second-1.num-0 .b,
#second-1.num-0 .c,
#second-1.num-0 .d,
#second-1.num-0 .e,
#second-1.num-0 .f{
	fill: #e30909;
}
#second-2.num-1 .b,
#second-2.num-1 .c,

#second-2.num-2 .a,
#second-2.num-2 .b,
#second-2.num-2 .d,
#second-2.num-2 .e,
#second-2.num-2 .g,

#second-2.num-3 .a,
#second-2.num-3 .b,
#second-2.num-3 .c,
#second-2.num-3 .d,
#second-2.num-3 .g,

#second-2.num-4 .b,
#second-2.num-4 .c,
#second-2.num-4 .f,
#second-2.num-4 .g,

#second-2.num-5 .a,
#second-2.num-5 .c,
#second-2.num-5 .d,
#second-2.num-5 .f,
#second-2.num-5 .g,

#second-2.num-6 .a,
#second-2.num-6 .c,
#second-2.num-6 .d,
#second-2.num-6 .e,
#second-2.num-6 .f,
#second-2.num-6 .g,

#second-2.num-7 .a,
#second-2.num-7 .b,
#second-2.num-7 .c,

#second-2.num-8 .a,
#second-2.num-8 .b,
#second-2.num-8 .c,
#second-2.num-8 .d,
#second-2.num-8 .e,
#second-2.num-8 .f,
#second-2.num-8 .g,

#second-2.num-9 .a,
#second-2.num-9 .b,
#second-2.num-9 .c,
#second-2.num-9 .d,
#second-2.num-9 .f,
#second-2.num-9 .g,

#second-2.num-0 .a,
#second-2.num-0 .b,
#second-2.num-0 .c,
#second-2.num-0 .d,
#second-2.num-0 .e,
#second-2.num-0 .f{
	fill: #e30909;
}
/* ======================== */