body {
    background: #dcf5ff;
    margin: 0;
    height: 100vh;
    display: grid;
    justify-items: center;
    align-items: center;
    font-family: 'Nunito', 'sans-serif';

}

.container {
    width: 30%;
    background: white;
    border-radius: 10px;

    .inner {
        background: #00B6FF;
        padding: 1em;
        border-radius: 10px;
        width: 100%;

        h1 {
            color: white;
            margin: 0;
        }
        p {
            color: white;
            font-size: .8rem;
        }
    }
}